:root {
  --dark-gray: darkgray;
  --light-gray: lightgray;
  --white: #fafbfc;
  --black: #000000;
}

* {
  box-sizing: border-box;
}

body {
  overscroll-behavior: none;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: var(--white);
  font-family: "Open Sans", sans-serif;
}

header {
  background: var(--white);
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header a {
  all: unset;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}
header a:last-of-type {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: inherit;
}

section {
  position: relative;
}

main .hero {
  height: 100vh;
  display: flex;
  justify-content: center;
}
main .hero .title {
  position: absolute;
  display: block;
  margin: 0;
  font-size: 18vw;
  line-height: 18vw;
  font-weight: 800;
}
main .hero .image_cont {
  width: 100%;
  height: 100%;
}
main .hero .image_cont img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main .mask {
  position: relative;
  transform: translateY(-200vh);
  height: 100vh;
}
main .mask img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main .reassurance {
  position: relative;
  z-index: 10;
  padding: 32px 64px;
  margin-top: -201vh;
  background: var(--white);
}
main .reassurance h2 {
  font-size: 3rem;
  text-align: center;
}
main .reassurance ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
main .reassurance ul li {
  flex: 1 1 200px;
  height: 300px;
  margin: 16px;
  background: var(--light-gray);
}
main .reassurance ul li .reassurance-content {
  background: var(--dark-gray);
  width: 100%;
  height: 100%;
}
main .content {
  padding: 32px 64px;
  background: var(--white);
  margin-bottom: 64px;
}
main .content .header {
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  align-items: center;
}
main .content .header span {
  display: block;
  width: 100px;
  height: 2px;
  background: var(--black);
  margin-right: 8px;
}
main .content h2 {
  font-size: 3rem;
}
main .content .card {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
  margin-bottom: 32px;
}
main .content .card .text {
  margin: 16px;
  font-size: 1.1rem;
}
main .content .card .images-cont {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
}
main .content .card .images-cont .img {
  position: relative;
  width: 100%;
  min-height: 300px;
}
main .content .card .images-cont .img:last-of-type {
  margin-top: 30%;
}
main .content .card .img {
  width: 100%;
  height: 250px;
  background: var(--light-gray);
  flex: 1 1 150px;
  cursor: pointer;
}
main .content .card .img .dummy-img {
  background: var(--dark-gray);
  width: 100%;
  height: 100%;
  transform: scale(0);
  opacity: 0;
}
main .content .boxes {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  overflow: hidden;
}
main .content .boxes .box {
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  position: relative;
}
main .content .boxes .box::after, main .content .boxes .box::before {
  position: absolute;
  background: var(--light-gray);
  z-index: 1;
}
main .content .boxes .box::after {
  content: "";
  top: -0.5rem;
  left: calc(100% + 0.5rem);
  width: 1px;
  height: calc(100% + 1rem);
}
main .content .boxes .box::before {
  content: "";
  top: -0.5rem;
  left: -0.5rem;
  width: calc(100% + 1rem);
  height: 1px;
}
main .content .boxes .box h3 {
  margin: 0;
  font-size: 1.5rem;
}
main .content .boxes .box .label {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .content .boxes .box .label .dot {
  width: 1.5rem;
  height: 1.5rem;
  background: var(--light-gray);
}

footer {
  border-top: 2px solid var(--light-gray);
  text-align: center;
}

@media screen and (max-width: 700px) {
  html,
body {
    overflow-x: hidden;
  }
  main .reassurance,
main .content {
    padding: 32px 16px;
  }
}

/*# sourceMappingURL=style.css.map */
